<!DOCTYPE html>
<html lang="es">
<head th:replace="~{/fragmentos.html::cabecera}"></head>
<body>
  <nav th:replace="~{/fragmentos.html::menu}"></nav>

  <div class="mx-3">
    
    <h3>Somos el grupo de  2º de DAW.</h3>

    <br>

    <p>
      BookAdvisor y se trata de un catálogo de libros donde los usuarios, además de hacer consultas varias sobre el catálogo, 
      podrán puntuar los libros y hacer comentarios sobre los mismos. Podrán hacer también búsquedas por distintos criterios y 
      obtener rankings en función de las puntuaciones de todos los usuarios.
    </p>

  </div>

</body>
</html>